html, body {
    width: 100%;
    height: 100%;
    background-color: #039dfc;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-inputs-container {
    display: flex;
    flex-direction: row;

    .team-input {
        border: 3px solid aliceblue;
        width: 150px;
        height: 20px;
        border-radius: 20px; 
        background: transparent;
        outline: none;
        padding: 5px;
    }
}